body
{
    margin:0;
    background:#fcf1e2;
}

h1,h2,h3,h4,p
{
    margin:0;
    padding:0;
}

*
{
    box-sizing:border-box;
}

#main
{
    margin:100px auto;
    width:50%;
}

.form-wrap
{
    width:60%;
    margin:10px auto;
    border:1px solid #fafbfc67;
    border-radius: 10px;
    background:#f8f8f867;
    padding:30px;
}

div.input_area
{
    width:100%;
    margin:10px 0;
    height: 90px;
}

div.input_area:first-child
{
    width:100%;
    margin:10px 0;
    height: 40px;
}

div.input_area:last-child
{
    width:100%;
    margin:10px 0;
    height: 40px;
}

label
{
    font-weight: 600;
    font-size:14px;
}

.description
{
    font-weight: 100;
    font-size:12px;
    margin:2px 0;
}

input[type="text"],input[type="password"]
{

    width:100%;
    min-height: 40px;
    border:1px solid #444;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    background: #fafbfc;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    font-size:17px;
    padding:5px;
}

input[type="submit"]
{
    width:100px;
    height: 40px;
    background:#444;
    color:#f4f4f5;
    border:1px solid #222;
    border-radius: 5px;
    float: right;
}

input[type="submit"] .no-singup
{
    background:rgb(155, 155, 155);
    color:#c7c7c7;
} 

.email-success
{
    color:rgb(42, 233, 115);
}

.email-error
{
    color:rgb(212, 78, 78);
}